html {
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

header {
  padding: 0;
  background-color: #d05c2e;
  border-bottom: 1px solid #a63f38;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header h1 {
  color: #fff;
  font-size: 2rem;
  padding: 0;
}

.header img {
  width: 40px;
  padding: 0;
}

.buttons {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  border-top: 1px solid #a63f38;
}

.btn {
  padding: .4rem 0;
  display: block;
  text-align: center;
}

.buttons li {
  flex-basis: 33.333%;
}
.buttons a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #fff;
}

.btn:hover {
  background-color: #a63f38;
}

.cereals {
  border-left: 1px solid #a63f38;
  border-right: 1px solid #a63f38;
}
